---
import BaseLayout from "./BaseLayout.astro";
import Header from "@/components/layout/Header.astro";
import Footer from "@/components/layout/Footer.astro";

interface Props {
  title?: string;
  description?: string;
  image?: string;
  canonicalUrl?: string;
  noindex?: boolean;
}

const { title, description, image, canonicalUrl, noindex } = Astro.props;
---

<BaseLayout title={title} description={description} image={image} canonicalUrl={canonicalUrl} noindex={noindex}>
  <Header />
  <main class="min-h-[calc(100vh-3.5rem)]">
    <slot />
  </main>
  <Footer />
</BaseLayout>
